<footer th:fragment="footer" class="py-3 my-4 border-top bg-white">
        <div class="container d-flex flex-wrap justify-content-between align-items-center">
            <p class="col-md-4 mb-0 text-body-secondary">&copy; 2025 Aletheia Project, Inc</p>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a th:href="@{/dashboard}" class="nav-link px-2 text-body-secondary">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
            </ul>
        </div>
</footer>